.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 226, 147);
}

.mainHeader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}

.value-btn {
    display: flex;
    align-self: center;
    background-color:lightcoral;
}

.colourOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colourButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-rainbow {
    background-color: lightsalmon;
    color: blue;
    border: green;
}


.container {
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    border: 3px solid black;
}

#container {
    display: grid;
    width: 800px;
    height: 800px;
    margin: auto;
}

.grid-cell {
    display: flex;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

.color {
    background-color: lightgray;
}

.backgroundBlack {
    background-color: black;
}

.backgroundWhite {
    background-color: white;
}

.backgroundRainbow {
    background-color: red;
}