.container {
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

#container {
    display: grid;
    max-width: 960px;
    margin: auto;
}

.grid-cell {
    border: 1px solid black;
    padding: 1em;
    
}

.color {
    background-color: lightgray;
}

.background {
    background-color: rgb(86, 117, 96);
}